body {
  font-family: "Roboto", sans-serif;
  color: #be0eaa;
}
.appWrapper {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 5px solid #a45fbe;
  border-radius: 8px;
  background: #382f60;
}
.spring {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 5px solid #ffb5b5;
  border-radius: 8px;
  background: #ffcbcb;
  color: #407088;
}
.summer {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 5px solid #be0eaa;
  border-radius: 8px;
  background: #ea2ba2;
  color: #f6ca97;
}
.fall {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 5px solid #b80d57;
  border-radius: 8px;
  background: #700961;
  color: #f6ca97;
}
.winter {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 5px solid #382f60;
  border-radius: 8px;
  background: #485188;
  color: #bbe4e9;
}
form {
  margin-top: 25px;
}
h1 {
  font-size: 24px;
  line-height: 28.8px;
  text-align: left;
  margin-top: 10px;
}
.currentConditionText {
  color: #485188;
}
.degrees {
  font-size: small;
  position: relative;
  bottom: 10px;
  color: #407088;
}
.windSpeedUnit {
  text-transform: uppercase;
}
h2 {
  font-size: 50;
}
ul {
  list-style: none;
  position: relative;
  right: 30px;
  text-transform: capitalize;
}
.col-2 {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}
.highTemp {
  font-weight: 600;
  color: #4b81ab;
}
.lowTemp {
  font-weight: 200;
  color: #4b81ab;
}
p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
}
